#search-button {
  border-radius: 100rem;
  color: #f20089;
  background-color: #fff;
  padding: .5rem 2rem;
  border: 1rem;
  margin: 0 .5rem 1.5rem 0;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  font-weight: bold;
  transform: translateY(-2px);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);

&:active {
  transform: translateY(0px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}
