.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title-container {
 height: 90vh;
 background: url("img/peaceful_weather.jpeg") center center no-repeat;
 background-size: cover;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 color: #000;
}

#search-button {
  border-radius: 100rem;
  color: #282c34;
  background-color: #fff;
  padding: .5rem 2rem;
  border: 1rem;
  margin: 0 .5rem 1.5rem 0;
  font-size: 1rem;
  font-weight: 400;
}

.weather-block {
  margin-top: 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #091540, #ABD2FA);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
  text-align: left;
}

.u-left-text {
  text-align: left;
}

#zip {
  border-radius: 100rem;
}
