.rain, .thunderstorm, .drizzle {
  background-image: url("./img/rain.jpg");
  height: 100vh;
  background-size: cover;
}

.clear {
  background-image: url("./img/clear-sky.jpg");
  height: 100vh;
  background-size: cover;
}

.clouds, .atmosphere {
  background-image: url("./img/clouds2.jpg");
  height: 100vh;
  background-size: cover;
}

.fog, .haze {
  background-image: url("./img/fog.jpg");
  height: 100vh;
  background-size: cover;
}

.lightning {
  background-image: url("./img/lightning.jpg");
  height: 100vh;
  background-size: cover;
}

.snow {
  background-image: url("./img/snow.jpg");
  height: 100vh;
  background-size: cover;
}

.logo {
  background-image: url("./img/logo.png");
  background-repeat: no-repeat;
  height: 7rem;
  width: 100%;
  background-size: 80%;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin: 2rem 2rem 2rem 2rem;
  float: right;
  max-width: 10rem;
}
